<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>

<div class="popup-container" *ngIf="showPopup">
    <div class="popup">
      <div class="popup-header">
        <span>This Feature is available  </span>
        <button (click)="closePopup()">Close</button>
      </div>
      <div class="popup-body">
        <h4>Please note that this feature is not available right now</h4>
        <p>{{ popupMessage }}</p>
      </div>
    </div>
  </div>
  
<div class="delete" *ngIf="!isLoading">
    <h1>Delete Product</h1>
    <p>Are you sure you want to delete this product?</p>
    <div class="buttons">
        <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
        <button mat-raised-button color="primary" (click)="onClose()">Cancel</button>
    </div>

</div>
