
<div>
    <app-loading *ngIf="isLoading"></app-loading>
</div>

<div class="popup-container" *ngIf="showPopup">
  <div class="popup">
    <div class="popup-header">
      <span>This Feature is available  </span>
      <button (click)="closePopup()">Close</button>
    </div>
    <div class="popup-body">
      <h4>Please note that this feature is not available right now</h4>
      <p>{{ popupMessage }}</p>
    </div>
  </div>
</div>

<div *ngIf="!isLoading" >
    <h1 class="title">Edit Product</h1>
    <form [formGroup]="productForm" class="form" (submit)="onSubmit()" >
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" formControlName="name" required>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" min="0" formControlName="price" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" formControlName="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="subDescription">Sub Description:</label>
            <textarea id="subDescription" name="subDescription" formControlName="subDescription" required></textarea>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select id="category" name="category" formControlName="category" required>
              <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>    
        </div>
    
        <div class="form-group" >
          <label>Sizes:</label>
          <div formArrayName="sizes">
            <div *ngFor="let size of availableSizes; let i = index" class="sizes" >
              <input type="checkbox" [formControlName]="i"  (change)="onCheckboxChange($event, i)" > 
              <div class="size">
                {{ size }}
              </div>
            </div>
          </div>
        </div>
    
        <div class="form-group ">
            <label for="colors">Colors:</label>
            <div formArrayName="colors">
              <div *ngFor="let color of colors.controls ; let i = index" class="colors">
                <input [formControlName]="i" type="color" class="color-picker">
                <button type="button" (click)="removeColor(i)">Remove</button>
              </div>
            </div>
            <button type="button" (click)="addColor()">Add Color</button>
          </div>
    
        <div class="form-group">
            <label for="material">Material:</label>
            <div formArrayName="materials" class="materials-group">
              <div *ngFor="let material of materials.controls ;let i = index" >
                <input type="text" [formControlName] ='i' >
                <button type="button" (click)="removeMaterial(i)">Remove</button>
              </div>
              <button type="button" (click)="addMaterial()"> Add Material</button>
            </div>
        </div>
    
        <div class="form-group">
            <label for="brand">Brand:</label>
            <input type="text" id="brand" name="brand" formControlName="brand" required>
        </div>
        <div class="form-group">
          <label for="inStock">In Stock:</label>
          <input type="checkbox" id="inStock" name="inStock" formControlName="inStock">
        </div>
      
        <div class="form-group">
            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="rating" min="1" max="5" formControlName="rating" required>
        </div>
    
        <div class="form-group">
          <label for="image">Product Image:</label>
          <input type="file" id="image" name="image" accept="image/*" (change)="onFileSelected($event)" required>
        </div>
    
        <!-- Display the selected image -->
        <div class="selected-image" *ngIf="imageUrl">
          <img [src]="imageUrl" alt="Selected Image">
        </div>
      
        <div class="buttons">
          <button  type="submit">Edit</button>
          <button class="danger" type="button" (click)="close()" >Close</button>
        </div>
        
    </form>
</div>

